# LaTeX
*_temp.tex
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.lol
*.run.xml
*.pdf
*.html
*.dvi
*.css
*.out.ps
!finals/*.pdf
!finals/*.html
*.bcf
